**/__pycache__/

build/

# Ignore ownCloud log files
.owncloudsync.log*

# Ignore ownCloud database files
.sync_journal.db*

# Old files
*old*

# VS Code settings
.vscode/

# PyCharm / IntelliJ IDEA settings
.idea/

# macOS Finder metadata
.DS_Store

# PlatformIO
.pio/

# Windows Explorer thumbnail caches
Thumbs.db

# Python virtual environments
venv/
.env/

# ROS catkin build/devel if not intentionally committed
devel/
